.form_container {
  width: 350px;
  position: absolute;
  left: 450px;
  top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(75, 234, 234);
}
.form_container input[type="text"],
.form_container input[type="number"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px, 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}
.form_container button {
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 5px;
  margin: 18px 0;
  padding: 14px 12px;
  border: none;
  cursor: pointer;
  width: 93%;
}
.form_container button:hover {
  color: rgb(238, 9, 9);
  background-color: lightseagreen;
}
